<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
	width: 2182px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image: url("../img/bg-tile.jpg");
	background-repeat: repeat-x;
	background-color: #808000;
	font-size: 16px;
	line-height: 1.5em;
}

/* Style the header */
.header {
	background-image: url("../pre-assessment/assets/img/fall2.png");
	display: block;
	height: 678px;
	width: 2060px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
</style>
</head>
<body>

<div class="header">
  <h1>Header</h1>
  <p>Resize the browser window to see the responsive effect.</p>
</div>

<div class="topnav">
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
</div>


</body>
</html>



