body {
    line-height: 1.8;
    color:#898fa1; /* BT color*/
    font size: 15px;
    font-family:'Lato', san-serif;
}

h1,h2,h3,h4,h5,h6 { /* all headers */
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    }

    a {
        font-weight: 700;
        transition: all 0.45s ease;
    }

    img {
      width: 100%;
  }

    small {
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: 700;
    }

    section {
        padding-top: 100px;
        padding-bottom: 100px;

    }
    /* color around the header navbar */
    .navbar{
        border-bottom: 1px solid #11245A;
    }

.logo-text {
    font-size: 22px;
    text-transform: uppercase;
    color:#11245A !important;
}

/*font and spacing for home blog etc */
    .navbar .nav-link {
    font size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    }

    .navbar-light .navbar-nav .nav-link.active {
        color:#de6c79; /* change the color of the home words in nav bar */
    }

    /* home page pic and background colors*/
    #home{
         background: linear-gradient(#5495e586,#1f4fd3b6), url(../img/Declarations.jpg);
         min-height: 100vh;
         background-size: cover;
         background-position: center;
         background-attachment: fixed;
         display: flex;
         align-items: center; 
        
        }

        #home h1{
             font-weight: 700;
        }

        #home p {
            max-width: 550px;
            margin: 18px auto;
        }

        .btn { /* btn means button*/
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        padding: 12px 28px;
        border: radius 0; ;
        }

        .btn-brand {
            background-color: #6ffdff;
            color:#fff;
        }

        .btn-brand:hover {
        background-color: #a92938;
        color: #fff;
        }

        /* vision title name */
        .section-intro{
            text-align: center;
            margin-bottom: 60px;
        }

        /* vision title name */
        .section-intro .hline{
        width: 120px;
        height: 2px;
        background-color: rgba(59, 101, 120, 0.522);
        margin: 16px auto 0 auto;
        }

        

        body {
            font-family: 'Lato', san-serif;
            text-align: center;
            margin-bottom: 60px;
            margin: 0;
          }
          
          
          html {
            box-sizing: border-box;
          }
          
          *, *:before, *:after {
            box-sizing: inherit;
          }
          
          .column {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
          }
          
          .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* color around boarder of 3 pic*/
            margin: 8px;
          }
          




          
          .about-section {
            padding: 50px;
            text-align: center;
            background-color: #474e5d;
            color: white;
          }
          
          .container {
            padding: 0 16px;
          }
          
          .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
          }
          
          .title {
            color: rgb(186, 16, 16); 
          }
          
          .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
          }
          
          .button:hover {
            background-color: #555;
          }
          
          @media screen and (max-width: 650px) {
            .column {
              width: 100%;
              display: block;
            }
          }


          
          
          body {
            font-family: 'Lato', san-serif;
          }
          
          /* Style the header */
          header {
            background-color:  #474e5d;
            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: white;
          }
          
         
          
          
          
          article {
            float: left;
            padding: 20px;
            width: 70%;
            background-color: #f1f1f1;
            height: 300px; /* only for demonstration, should be removed */
          }
          
          /* Clear floats after the columns */
          section::after {
            content: "";
            display: table;
            clear: both;
          }
          

          
          /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
          @media (max-width: 600px) {
            nav, article {
              width: 100%;
              height: auto;
            }
          }





          .gallery-item{
            overflow: hidden;
            position: relative;
          }
          
          .gallery-item img
          .gallery-item .gallery-overlay{
            transition: all 0.4s ease;
          }

          .gallery-overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #5495e586;
            display: flex;
            align-items: flex-end;
            padding: 30px;
            opacity: 0;
          }

          .gallery-overlay h3,
          .gallery-overlay h6{
            color: #fff;
          }

          .gallery-item:hover .gallery-overlay {
            opacity: 1;
          }

          .gallery-item:hover img {
            transform: scale(1.1);
          }

          form .form-control {
          border-radius: 0;
          }

          form .form-control focus{
            box-shadow: none;
            border-color: #E93B81;
          }


          #devotions{
                padding: 30px;
          }
         


          #cta{
            background: linear-gradient(#5495e586,#1f4fd3b6), url(../img/Declarations.jpg);
         min-height: 20vh;
          
          }


        
          .footer-top{
            padding-top: 80px;
            padding-bottom: 30px;
          }

          .footer-bottom {
            padding-top: 30px;
            padding-bottom: 30px;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
          }  

          footer .footer-links a,
          footer .social-icons a{
            color: #898fa1;
          }

          footer .social-icons a {
            font-size: 24px;
          }

          footer .footer-links a{
            display: blocks;
            font-weight: 400;
            font-family: 'Lato', san-serif;
          }          

          footer .social-icons a:hover,
          footer .footer-links a:hover {
            color:#de6c79
          }