/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
/* Start of "Micro clearfix" */

.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

/* End of "Micro clearfix" */
  
/*
background-image:url("../img/grid.png");*/

.container {
  /*760px */
  margin: 25px auto;
  border: 1px solid rgb(5, 5, 5);
  
}

header.primary {
  background: rgba(214, 211, 21, 0.8);
  /*707 px */
  width: 93.026%;
  margin: 3.289%;
  float: left;
  padding: 2.828%;
}

#content {
  background: rgba(214, 211, 21, 0.6);
  float: left;
  /*342.5 px*/
  width: 45.065%;
  margin-left:3.289%;
  padding: 2.828%;
}

aside {
  /* 342.5px*/
  width: 45.065%;
  float: left;
  background: rgba(214, 211, 21, 0.3);
  margin-left: 3.289%;
  padding: 2.828%;
}

footer.primary {
  background: rgba(214, 211, 21, 0.8);
  width: 93.026%;
  margin: 3.289%;
  float: left;
  padding: 2.828%;
}




@media screen and (min-width:800px){
  .container{
    width:75vw;
  }
}

@media screen and (min-width:600px){
  .container{
    width:65vw;
  }
}

@media screen and (min-width:1100px){
  .container{
    width:55vw;
  }
}